.optionsBtn {
  display: flex;
  justify-self: end;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 28px;
  height: 25px;
  border-radius: 8px;
  position: relative;
  margin-top: 0.5rem;
}

.optionsBtn:hover {
  background: rgba(0, 0, 0, 0.08);
  color: #222;
}

.optionsBtn svg {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdownMenu {
  position: absolute;
  bottom: 20px;
  right: 0;
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  padding: 6px;
  min-width: 140px;
  display: flex;
  flex-direction: column;
  animation: scaleIn 0.2s ease;
}

.dropdownMenu button {
  padding: 10px 12px;
  border: none;
  background: none;
  border-radius: 6px;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #333;
  transition: background 0.2s;
}

.dropdownMenu button:hover {
  background: #f0f0f0;
}

.deleteBtn {
  color: #d93025 !important;
}

.deleteBtn:hover {
  background: #fff1f0 !important;
}

@media (max-width: 767px) {
  .dropdownMenu {
    right: auto;
    left: 0;
    top: -10px;
  }
}
