.containerLogin {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 80px;
  align-items: center;
  min-height: calc(100vh - 4rem);
}

.containerLogin > img {
  width: 100%;
  height: calc(100vh - 4rem);
  object-fit: cover;
  display: block;
}

.logo {
  width: 200px !important;
  height: auto !important;
  margin-bottom: 2rem;
  display: block;
}

.form {
  padding-right: 20px;
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.5s forwards;
  width: 100%;
  max-width: 420px;
}

.form h1 {
  font-size: 50px;
}

.form form {
  width: 100%;
  max-width: 420px;
}
.submitLogin {
  padding: 15px 40px;
  width: 100%;
  max-width: 420px;
  border: none;
  border-radius: 4px;
  background-color: #6e6d6d;
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitLogin:hover {
  background-color: #d3d2d2;
  color: #6e6d6d;
}

.formHelper {
  display: flex;
  width: 100%;
  max-width: 420px;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 0.875rem;
}

.formHelper label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  line-height: 1;
  color: #6e6d6d;
}

.formHelper input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 2px solid rgb(3, 138, 242);
  border-radius: 4px;
  background-color: #fff;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.1s;
}

.formHelper input[type="checkbox"]:checked {
  background-color: rgb(3, 138, 242);
}

.formHelper input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #fff;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.formHelper input[type="checkbox"]:checked::before {
  transform: scale(1);
}

.formHelper span {
  color: #6e6d6d;
  cursor: pointer;
  line-height: 1;
}

.continue {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 420px;
  margin: 2rem 0 2rem 0;
  color: #6e6d6d;
  font-size: 0.875rem;
  gap: 15px;
}

.continue::before,
.continue::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #dbdbdb;
}

.redirect {
  width: 100%;
  max-width: 420px;
  margin-top: 2rem;
  text-align: center;
}

.redirect a {
  text-decoration: none;
  color: rgb(3, 138, 242);
  font-weight: 600;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
.googleWrapper {
  width: 100%;
}

@media (max-width: 767px) {
  .containerLogin {
    grid-template-columns: 1fr;
    gap: 0;
    min-height: 90vh;
    align-items: flex-start;
    width: 100%;
    justify-self: center;
  }

  .containerLogin > img {
    display: none;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: auto;
    width: 100%;
    max-width: 420px;
    box-sizing: border-box;
  }

  .form form {
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }

  .logo {
    width: 160px !important;
    margin-bottom: 2rem;
  }

  .input,
  .submitLogin,
  .formHelper,
  .continue,
  .redirect {
    width: 100%;
  }

  .submitLogin {
    font-size: 1rem;
    padding: 14px;
  }

  .googleWrapper {
    width: 100%;

    min-height: 40px;
    display: flex;
    justify-content: center;
  }

  .googleWrapper > div {
    transform: scale(0.76);
    transform-origin: center;
  }
}
